@charset "UTF-8";
/* Noto Serif */
@font-face {
  font-family: "Noto Serif";
  src: url("../font/subset-NotoSerif.woff2") format("woff2"), url("../font/subset-NotoSerif.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Serif";
  src: url("../font/subset-NotoSerif-Italic.woff2") format("woff2"), url("../font/subset-NotoSerif-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
/*
@font-face {
    font-family: 'Noto Serif';
    src: url('../font/subset-NotoSerif-Bold.woff2') format('woff2'),
         url('../font/subset-NotoSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../font/subset-NotoSerif-BoldItalic.woff2') format('woff2'),
         url('../font/subset-NotoSerif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
*/
/* Noto Sans */
@font-face {
  font-family: "Noto Sans";
  src: url("../font/subset-NotoSans.woff2") format("woff2"), url("../font/subset-NotoSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../font/subset-NotoSans-Italic.woff2") format("woff2"), url("../font/subset-NotoSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../font/subset-NotoSans-Bold.woff2") format("woff2"), url("../font/subset-NotoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*
@font-face {
    font-family: 'Noto Sans';
    src: url('../font/subset-NotoSans-BoldItalic.woff2') format('woff2'),
         url('../font/subset-NotoSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
*/
/* Alegreya Sans */
@font-face {
  font-family: "Alegreya Sans";
  src: url("../font/subset-AlegreyaSans-Thin.woff2") format("woff2"), url("../font/subset-AlegreyaSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("../font/subset-AlegreyaSans-Medium.woff2") format("woff2"), url("../font/subset-AlegreyaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Fertigo Pro */
@font-face {
  font-family: "Fertigo Pro";
  src: url("../font/subset-FertigoPro-Regular.woff2") format("woff2"), url("../font/subset-FertigoPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font: 16px/26px "Noto Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ebeedc;
  color: #504f4f;
}

header {
  padding: 1em;
  background-color: #775c9b;
  border-bottom: 2px solid #ebeedc;
  z-index: 1;
  user-select: none;
}
header > div {
  position: relative;
  margin: 0 auto;
}
header > div > h1 {
  margin: 0;
  text-align: center;
}
header > div > h1 > a {
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
header > div > h1 > a > span {
  font-weight: 100;
}
header > div > h1 {
  margin-bottom: 0.5em;
}
header > div > nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 17px;
  text-align: center;
  line-height: 1.8em;
}
header > div > nav > ul > li {
  display: inline-block;
}
header > div > nav > ul > li:not(:last-child):after {
  font-family: "Fertigo Pro";
  content: "Ω";
  color: #fff;
  padding: 0 0.4em;
  opacity: 0.4;
}
header > div > nav > ul > li.sel > a {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
header > div > nav > ul > li > a {
  text-decoration: none;
  color: #fff;
}
header > div > nav > ul > li > a:hover {
  opacity: 0.75;
}

section.top-image > img {
  width: 100%;
  z-index: -1;
}
section.top-image > div.text {
  display: block;
  position: absolute;
  top: calc(150px + 25vw);
  width: 100%;
  text-align: center;
  color: #fff;
  user-select: none;
}
section.top-image > div.text > h1 {
  margin: 0;
  font-family: "Alegreya Sans";
  font-weight: 100;
  font-size: 12vw;
  text-transform: uppercase;
  letter-spacing: 3px;
}

section.body {
  background: #ebeedc;
  opacity: 0.99999;
  z-index: 2;
}
section.body .wrapper {
  margin: 0 auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
section.body h2, section.body h3 {
  margin: 2.5em 0 1.1em 0;
  font-family: "Noto Serif", sans-serif;
  font-size: 27px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  color: #6f6f6b;
}
section.body h3 {
  margin: 2em 0 1em 0;
  font-size: 22px;
  text-align: left;
  color: #8e8f87;
}
section.body h3.sepa:before {
  display: block;
  clear: both;
  width: 100%;
  margin: 0.5em 0;
  font-family: "Fertigo Pro";
  font-size: 6rem;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #cccec0;
  content: "∫";
  font-size: 2.5rem;
  margin-bottom: 0.7em;
  content: "∫";
}
section.body p {
  margin-bottom: 1.3em;
}
section.body p:last-child {
  margin-bottom: 0;
  padding-bottom: 1em;
}
section.body a {
  color: #888;
  text-decoration: none;
  border-bottom: 1px solid #999;
}
section.body a:hover {
  color: #775c9b;
  border-color: rgba(119, 92, 155, 0.4);
}
section.body ul {
  margin: 0;
  padding: 0 0 0 2rem;
  list-style: none;
}
section.body ul li {
  margin-bottom: 0.8em;
}
section.body ul li:before {
  margin-left: -1.7rem;
  padding-right: 0.8rem;
  font-family: "Fertigo Pro";
  color: #9e9f96;
  content: "Ω";
}
section.body blockquote {
  width: 75%;
  margin: 1.2em auto 3em auto;
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
  font-size: 20px;
  line-height: 1.5em;
  color: #605f5d;
  text-align: center;
}
section.body blockquote:before {
  display: inline;
  position: relative;
  top: 50px;
  left: -8px;
  font-family: "Noto Serif", sans-serif;
  font-style: normal;
  font-size: 120px;
  line-height: 0;
  content: "“";
  color: #cccec0;
}
section.body img.left {
  position: relative;
  width: 37%;
  margin: 0 1.3rem 1.1rem 0;
  float: left;
}
section.body img.right {
  position: relative;
  width: 45%;
  margin: 0 0 1.3rem 1.1rem;
  float: right;
}
section.body figure.testimonial {
  margin: 0;
  padding: 0;
  clear: both;
}
section.body figure.testimonial:before {
  display: inline;
  position: relative;
  top: 50px;
  left: -8px;
  font-family: "Noto Serif", sans-serif;
  font-style: normal;
  font-size: 120px;
  line-height: 0;
  content: "“";
  color: #cccec0;
  float: left;
  top: 20px;
  left: -20px;
}
section.body figure.testimonial > p {
  margin: 0 0 0 2.3em;
  padding: 0 0 0.8em 0;
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
}
section.body figure.testimonial > p:nth-last-child(2) {
  padding-bottom: 1em;
}
section.body figure.testimonial > figcaption {
  margin-bottom: 2em;
  text-align: right;
}
section.body figure.testimonial > figcaption span {
  color: #8e8f87;
}

.sepa-before:before {
  display: block;
  clear: both;
  width: 100%;
  margin: 0.5em 0;
  font-family: "Fertigo Pro";
  font-size: 6rem;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #cccec0;
  content: "∫";
}
.sepa-before.more-space:before {
  margin: 0.5em 0;
}
.sepa-before.disclaimer:before, .sepa-before.donation:before, .sepa-before.contact:before {
  margin: 0.85em 0 0.45em 0;
}

.sepa-after:after {
  display: block;
  clear: both;
  width: 100%;
  margin: 0.5em 0;
  font-family: "Fertigo Pro";
  font-size: 6rem;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #cccec0;
  content: "∫";
}
.sepa-after.more-space:after {
  margin: 0.6em 0;
}
.sepa-after.more-space2:after {
  margin: 0.2em 0 0.8em 0;
}

section.bottom-quote {
  display: flex;
  clear: both;
  align-items: center;
}
section.bottom-quote.home {
  background-image: url(../img/home-bottom.jpg);
}
section.bottom-quote.about {
  background-image: url(../img/about-bottom.jpg);
}
section.bottom-quote.testimonials {
  background-image: url(../img/testimonials-bottom.jpg);
}
section.bottom-quote.private-sessions {
  background-image: url(../img/private-sessions-bottom.jpg);
}
section.bottom-quote blockquote {
  width: 80%;
  margin: 1.5em auto;
  color: #fff;
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
  font-size: 20px;
  line-height: 1.6em;
  text-align: center;
}

footer {
  padding: 20px 1.5em;
  background-color: #614c80;
  user-select: none;
}
footer > div > h1 {
  margin: 0;
  text-align: center;
}
footer > div > h1 > a {
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
footer > div > h1 > a > span {
  font-weight: 100;
}
footer > div > h1 {
  margin-bottom: 0.7em;
}
footer > div > h1 > a {
  font-size: 32px;
}
footer > div > h1 > a > span {
  left: -27px;
  top: 29px;
}
footer > div > nav {
  margin: 0 auto;
  width: 18.5em;
}
footer > div > nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 17px;
  line-height: 30px;
}
footer > div > nav > ul > li {
  display: block;
}
footer > div > nav > ul > li > a {
  text-decoration: none;
  color: #fff;
}
footer > div > nav > ul > li > a:hover {
  opacity: 0.7;
}
footer > div > nav > ul.nav1 {
  float: left;
}
footer > div > nav > ul.nav2 {
  margin-left: 9em;
}

div.abc {
  margin-bottom: 2em;
  text-align: center;
}
div.abc * {
  box-sizing: border-box;
}
div.abc div.error {
  font-size: 16px;
  font-weight: bold;
  background: #ffc8c4;
  color: rgba(136, 0, 0, 0.6);
  border-radius: 5px;
  margin-top: -10px;
  margin-bottom: 25px;
  padding-left: 15px;
  text-align: left;
}
div.abc a {
  border: none;
  text-decoration: none;
}
div.abc input:focus,
div.abc select:focus,
div.abc textarea:focus,
div.abc button:focus {
  outline: none;
}
div.abc input, div.abc textarea, div.abc button {
  display: block;
  width: 100%;
  margin: 15px 0 10px 0;
  padding: 6px 12px;
  border-radius: 5px;
  border: 2px solid #c4c6b9;
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
  background: #f9faf5;
  color: #504f4f;
}
div.abc input::placeholder, div.abc textarea::placeholder {
  opacity: 0.7;
}
div.abc input.error, div.abc textarea.error {
  border: 2px solid #faa;
}
div.abc textarea {
  height: 180px;
}
div.abc button {
  background: #8e8f87;
  border-color: #8e8f87;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
div.abc button.valid {
  background: #8b4;
  border-color: #8b4;
}

#contact-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
#contact-modal > div {
  position: fixed;
  top: calc((100vh - (130px + 2 * 20px)) / 2);
  left: calc((100vw - (300px + 2 * 20px)) / 2);
  width: 300px;
  height: 130px;
  padding: 20px;
  background: #ebeedc;
  border-radius: 15px;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#contact-modal > div > p {
  margin: 0 0 1em 0;
  text-align: center;
}
#contact-modal > div #close-modal {
  display: block;
  color: #ebeedc;
  background: #6f6f6b;
  padding: 0 2em;
  border-radius: 8px;
  cursor: pointer;
}
#contact-modal > div #close-modal:hover {
  background: #868780;
}

/* Spinner */
.lds-ring {
  display: inline-block;
  position: relative;
  top: -2px;
  left: 6px;
  width: 19px;
  height: 19px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  margin: 3px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------------------*/
@media (min-width: 400px) {
  html {
    font: 17px/28px "Noto Sans", sans-serif;
  }

  section.body blockquote {
    font-size: 22px;
  }
}
/*--------------------------------------------------------------------------*/
@media (min-width: 540px) {
  section.top-image > div.text {
    width: 100%;
  }
}
/*--------------------------------------------------------------------------*/
@media (min-width: 640px) {
  footer {
    padding: 20px 1.5em;
    background-color: #614c80;
    user-select: none;
  }
  footer > div {
    width: 600px;
    margin: 0 auto;
  }
  footer > div > h1 {
    margin: 0;
    text-align: center;
  }
  footer > div > h1 > a {
    font-family: "Alegreya Sans";
    font-weight: 500;
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }
  footer > div > h1 > a > span {
    font-weight: 100;
  }
  footer > div > h1 {
    margin: 22px 50px 0 10px;
    float: left;
  }
  footer > div > h1 > a > span {
    position: relative;
    top: 26px;
    left: -24px;
  }
  footer > div > nav > ul {
    line-height: 35px;
  }
  footer > div > nav > ul.nav1 {
    margin-right: 0px;
    float: left;
  }
  footer > div > nav > ul.nav2 {
    width: 9em;
    margin-left: 325px;
  }
}
/*--------------------------------------------------------------------------*/
@media (min-width: 768px) {
  html {
    font: 18px/30px "Noto Sans", sans-serif;
  }

  header > div > nav > ul {
    font-size: 19px;
  }

  section.body h2 {
    font-size: 32px;
  }
  section.body h3 {
    font-size: 26px;
  }
  section.body h3.sepa:before {
    display: block;
    clear: both;
    width: 100%;
    margin: 0.5em 0;
    font-family: "Fertigo Pro";
    font-size: 6rem;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #cccec0;
    content: "∫";
    margin-bottom: 2rem;
  }
  section.body blockquote {
    font-size: 23px;
  }
  section.body blockquote:before {
    display: inline;
    position: relative;
    top: 50px;
    left: -8px;
    font-family: "Noto Serif", sans-serif;
    font-style: normal;
    font-size: 120px;
    line-height: 0;
    content: "“";
    color: #cccec0;
    font-size: 182px;
    left: -10px;
    top: 75px;
  }
  section.body img.left {
    margin: 0 1.5rem 1.3rem 0;
  }
  section.body img.right {
    margin: 0 0 1.5rem 1.3rem;
  }

  .sepa-before:before {
    font-size: 8rem;
  }
  .sepa-before.more-space:before {
    margin: 0.7em 0;
  }

  .sepa-after:after {
    font-size: 8rem;
  }
  .sepa-after.more-space:after {
    margin: 0.75em 0;
  }
  .sepa-after.more-space2:after {
    margin: 0.7em 0 0.8em 0;
  }

  div.abc input, div.abc textarea, div.abc button {
    padding: 8px 14px;
    font-size: 18px;
  }

  section.bottom-quote {
    height: 220px;
  }
  section.bottom-quote blockquote {
    margin: 0 auto;
    font-size: 23px;
  }
}
/*--------------------------------------------------------------------------*/
@media (min-width: 920px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    height: 68px;
    padding: 0;
    width: 100%;
  }
  header > div {
    margin: 0 0;
  }
  header > div > h1 > a > span {
    position: relative;
    top: 25px;
    left: -24px;
  }
  header > div > h1 {
    position: absolute;
    top: 4px;
    left: 20px;
  }
  header > div > nav > ul {
    font-size: 19px;
    line-height: 1em;
    text-align: right;
    margin-right: 20px;
  }
  header > div > nav > ul > li {
    padding: 28px 14px 20px 14px;
  }
  header > div > nav > ul > li:not(:last-child):after {
    padding: 0;
    content: none;
  }
  header > div > nav > ul > li.sel {
    background: #4b3a62;
  }
  header > div > nav > ul > li.sel > a {
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
  }

  section.top-image > img {
    margin-top: 68px;
  }
  section.top-image > div.text {
    top: calc(42vw - 67px);
  }

  section.body .wrapper {
    width: 750px;
    padding-top: 1px;
    padding-left: 0;
    padding-right: 0;
  }
  section.body h2, section.body h3 {
    margin: 2.5em 0 1.5em 0;
  }
  section.body h3 {
    margin: 3em 0 1em 0;
  }
  section.body ul {
    padding-left: 3rem;
  }
  section.body blockquote {
    width: 90%;
    font-size: 26px;
  }
  section.body blockquote:before {
    display: inline;
    position: relative;
    top: 50px;
    left: -8px;
    font-family: "Noto Serif", sans-serif;
    font-style: normal;
    font-size: 120px;
    line-height: 0;
    content: "“";
    color: #cccec0;
    font-size: 202px;
    left: -10px;
    top: 80px;
  }
  section.body figure.testimonial {
    margin: 0;
    padding: 0;
    clear: both;
  }
  section.body figure.testimonial:before {
    display: inline;
    position: relative;
    top: 50px;
    left: -8px;
    font-family: "Noto Serif", sans-serif;
    font-style: normal;
    font-size: 120px;
    line-height: 0;
    content: "“";
    color: #cccec0;
    font-size: 165px;
    top: 22px;
    left: -80px;
  }
  section.body figure.testimonial > p {
    width: 72%;
    float: left;
    margin: 0 20px 0 0;
    padding: 0 20px 1.5em 0;
    border-right: 1px solid #caccbd;
  }
  section.body figure.testimonial > p:nth-last-child(2) {
    margin-bottom: 70px;
  }
  section.body figure.testimonial > figcaption {
    margin-bottom: 0;
    text-align: left;
  }

  section.bottom-quote {
    height: 260px;
  }
  section.bottom-quote blockquote {
    font-size: 32px;
  }

  footer {
    padding: 24px 1.5em;
  }
  footer > div {
    width: 750px;
  }
  footer > div > h1 {
    margin: 0;
    text-align: center;
  }
  footer > div > h1 > a {
    font-family: "Alegreya Sans";
    font-weight: 500;
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }
  footer > div > h1 > a > span {
    font-weight: 100;
  }
  footer > div > h1 {
    margin-top: 20px;
    margin-left: 8px;
  }
  footer > div > h1 > a {
    font-size: 40px;
  }
  footer > div > h1 > a > span {
    top: 29px;
    left: -27px;
  }
  footer > div > nav > ul.nav1 {
    margin-left: 140px;
  }
  footer > div > nav > ul.nav2 {
    margin-left: 395px;
  }
}
/*--------------------------------------------------------------------------*/
@media (min-width: 970px) {
  section.body figure.testimonial:before {
    font-size: 202px;
    top: 23px;
    left: -100px;
  }
}
/*--------------------------------------------------------------------------*/
@media (min-width: 1020px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    height: 68px;
    padding: 0;
    width: 100%;
  }
  header > div {
    width: calc(1000px + 2vw);
  }
  header > div > nav > ul {
    font-size: 20px;
    margin-right: 0;
    margin-left: 270px;
    text-align: left;
  }
  header > div > nav > ul > li {
    padding: 28px 16px 20px 16px;
  }

  section.top-image > div.text > h1 {
    font-size: 120px;
  }

  section.body .wrapper {
    padding-top: 1px 0 0 0;
  }
  section.body img.left {
    left: -90px;
    margin: 0 -40px 20px 0;
  }
  section.body img.right {
    left: 90px;
    margin: 0 0 20px -50px;
  }
}
/*--------------------------------------------------------------------------*/
@media (min-width: 1300px) {
  header > div {
    width: 1300px;
    margin: 0 auto;
  }

  section.top-image > img {
    width: 1300px;
    min-height: 615px;
    margin: 68px 0 0 calc(50vw - 650px);
  }
  section.top-image > div.text {
    top: 480px;
  }
}

/*# sourceMappingURL=main.css.map */
